@model MVCProject.ViewModels.ViewModel

@section signUpForm{
    <div class="col-md-offset-1 padleft20">



        <div class="row">
            <div class="col-md-3 passwordTip">
                <br />
                Password should meet all of the following requirements:
                <ul>
                    <li>8 characters long</li>
                    <li>at least 1 (one) special character (e.g., !, $, #, %)</li>
                    <li>at least 1 (one) lowercase letter</li>
                    <li>at least 1 (one) upercase letter</li>
                    <li>at least 1 (one) numeric character</li>
                </ul>
            </div>

            <div class="col-md-9">
                @using (Html.BeginForm("GetCredentialInfo", "SignUp", FormMethod.Post, new { id = "frmCredential", @class = "form-horizontal" }))
    {
                    @Html.AntiForgeryToken()

                    <h2><span class="glyphicon glyphicon-pencil"></span> Sign Up</h2>
                    <h3>User Credentials</h3>
                    <h5>&#42;Required Fields</h5>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.allCredentialInfo.Email, "* Email Address", htmlAttributes: new { @class = "control-label col-md-2" })
                        @*<span class="glyphicon glyphicon-envelope"></span>*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.allCredentialInfo.Email, new { htmlAttributes = new { type = "text", id = "txtEmail", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.allCredentialInfo.Email, "", new { id = "errorEmail", @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.allCredentialInfo.UserName, "* Username", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*<div class="glyphicon glyphicon-user"></div>*@
                            @Html.EditorFor(model => model.allCredentialInfo.UserName, new { htmlAttributes = new { id = "txtUsername", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.allCredentialInfo.UserName, "", new { id = "errorUsername" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.allCredentialInfo.Password, "* Password", htmlAttributes: new { @class = "control-label col-md-2" }) 
                        <div class="col-md-10">
                            @*<div class="input-group-addon glyphicon glyphicon-lock"></div>*@
                            @Html.PasswordFor(model => model.allCredentialInfo.Password, new { @class = "form-control" })<span class="glyphicon glyphicon-eye-open"></span>
                            @Html.ValidationMessageFor(model => model.allCredentialInfo.Password)
                        </div>
                    </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.allCredentialInfo.ConfirmPassord, "* Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*<div class="input-group-addon glyphicon glyphicon-lock"></div>*@
                                @Html.PasswordFor(model => model.allCredentialInfo.ConfirmPassord, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.allCredentialInfo.ConfirmPassord)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-primary" id="btnSubmit">
                                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>

                }
            </div>
        </div>
    </div>
}

@section pageNumbers{
    <div class="col-md-6 col-md-offset-3 pages">
        <div class="row padleft20 padright20">
            <div class="col-md-3">
                <div class="center">
                    <div class="circle label-info">
                        <p>1</p>
                    </div>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <span>User Credentials</span>

                </div>
            </div>

            <div class="col-md-3">
                <div class="center">
                    <div class="circle label-primary">
                        <p>2</p>
                    </div>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <span>Basic Information</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="center">
                    <div class="circle label-primary">
                        <p>3</p>
                    </div>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <span>Contact Information</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="center">
                    <div class="circle label-primary">
                        <p>4</p>
                    </div>
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <span>Information Summary</span>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        var getEmailValidationUrl = '@Url.Action("CheckValidateEmail", "SignUp")';

        $(document).ready(function () {

            $('#txtEmail').bind('keyup change', function () {
                var data = {
                    Email: $('#txtEmail').val(),
                }
                $.ajax({
                    url: getEmailValidationUrl,
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        GetValidateEmail(data);
                    },
                    error: function () {
                        alert('Something went wrong!')
                    }
                }
                )
            })
            function GetValidateEmail(data) {
                $('#errorEmail').text(data.ErrorEmail);
            }

            $('#txtUsername').bind('keyup change', function () {
                var data = {
                    Username: $('#txtUsername').val(),
                }
                $.ajax({
                    url: getEmailValidationUrl,
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        GetValidateUsername(data);
                    },
                    error: function () {
                        alert('Something went wrong!')
                    }
                }
                )
            })
            function GetValidateUsername(data) {
                $('#errorUsername').text(data.ErrorEmail);
            }

            $('#btnSubmit').on('click', function () {
                var data = {
                    Email: $('#txtEmail').val(),
                    Username: $('#txtUsername').val(),
                }
                $.ajax({
                    url: getEmailValidationUrl,
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        GetValidateSuccess(data);
                        if ($('#errorEmail').text() != "" || $('#errorUsername').text() != "") {

                        } else {
                            $('#frmCredential').submit();
                        }
                    },
                    error: function () {
                        alert('Something went wrong!')
                    }
                }
                )
            })
            function GetValidateSuccess(data) {
                $('#errorEmail').text(data.ErrorEmail);
                $('#errorUsername').text(data.ErrorUsername)
            }

        })


    </script>
}
